html,
body {
  height: 100%;
  background-image: url(../shop/image/ao.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* cho hi盻㎡ 盻ｩng parallax nh蘯ｹ */
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* chi盻「 cao ﾃｭt nh蘯･t = chi盻「 cao mﾃn hﾃｬnh */
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
}
h1 {
  color: white;
  display: inline-block;
  padding: 12px 24px;
  border: 4px groove rgb(0, 0, 0); /* 争 vi盻］ ki盻ブ groove */
  border-radius: 10px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.3); /* nh蘯ｹ nhﾃng cho tﾆｰﾆ｡ng ph蘯｣n */
}
p.slogan {
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 4px rgb(0, 0, 0);
  margin-top: -10px;
}
