html,
body {
  height: 100%;
  background-image: url(../shop/image/ao.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
}
h1 {
  color: white;
  display: inline-block;
  padding: 12px 24px;
  border: 4px groove rgb(0, 0, 0);
  border-radius: 10px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.3);
}
p.slogan {
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 4px rgb(0, 0, 0);
  margin-top: -10px;
}
