html,
body {
  height: 100%;
  background-image: url(../shop/image/gá»—.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
