html,
body {
  height: 100%;
  background-image: url(/shop/image/bàn.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#product-image {
  width: auto;
  height: 380px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
.info-box {
  background: rgba(229, 213, 213, 0.45);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  padding: 25px;
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
