html,
body {
  height: 100%;
  background-image: url(../shop/image/gỗ.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* cho hiệu ứng parallax nhẹ */
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
